@import './colors.scss';

:root {
  --app-background-color: white;
  --square-border-width: 2px;
  --square-background-color: white;
  --square-border-color: black;
  --square-hover-color: #ededed;
  --square-side-length: 70px;
  --small-square-side-length: 18px;
  --player-one-background-color: #{$player_one};
  --player-two-background-color: #{$player_two};
  --small-board-selected-color: var(--app-background-color);
  --player-indicator-background-color: var(--app-background-color);
  --local-board-result-background-color: var(--square-background-color);
  --local-board-padding: 10px;
  --tied-background-color: linear-gradient(45deg, var(--player-one-background-color), var(--player-two-background-color));
}

@mixin border-style($property, $color: var(--square-border-color, black), $width: var(--square-border-width, 1px)) {
  #{$property}: $width solid $color;
}