@import '../../styles/globals.scss';

@mixin local-board-borders($property) {
    @include border-style($property, grey, 4px);
}

.local-board {
    padding: var(--local-board-padding);
    display: flex;
    flex-direction: column;
    align-items: center;

    &.top-border {
        @include local-board-borders(border-top);
    }

    &.bottom-border {
        @include local-board-borders(border-bottom);
    }

    &.left-border {
        @include local-board-borders(border-left);
    }

    &.right-border {
        @include local-board-borders(border-right);
    }

    .local-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}