@import '../../styles/globals.scss';

.square-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--square-background-color, white);
    width: var(--square-side-length);
    height: var(--square-side-length);
    color: black;

    &.top-border {
        @include border-style(border-top);
    }

    &.bottom-border {
        @include border-style(border-bottom);
    }

    &.left-border {
        @include border-style(border-left);
    }

    &.right-border {
        @include border-style(border-right);
    }

    &:not(.is-current-big-square) {
        --square-background-color: var(--square-hover-color);
    }

    &.is-player-one {
        --square-background-color: var(--player-one-background-color);
    }

    &.is-player-two {
        --square-background-color: var(--player-two-background-color);
    }

    &:not(.is-played):hover {
        --square-background-color: var(--square-hover-color);
        cursor: pointer;
    }

    &.is-tied {
        --square-background-color: var(--tied-background-color);
    }
}